
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-inter: 'Open Sans', sans-serif;
  --font-playfair: 'Prata', serif;
  --rapture-light: #FAF9F6;
  --brunneous: #5E4662;
  --dark-veil: #141311;
  --wooden-cabin: #58453b;
}

body.cursor-hidden {
  cursor: none; 
}

main {
  flex-grow: 1;
}
  
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
  
a {
  text-decoration: none; 
  outline: none; 
  border: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
.link {
  text-decoration: none; 
}
  
.link a {
  display: inline-block; 
}
  
.link a:focus, .link a:hover {
  outline: none; 
  color: inherit; 
}
  
img {
  display: block; 
}
  
.icon {
  fill: currentColor; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--rapture-light);
}

/* --- Хедер --- */

header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--rapture-light);
  z-index: 1000;
  box-shadow: none;
}

.burger {
  display: none; 
  margin-left: 20px;
  font-size: 22px;
  color: var(--brunneous);
  cursor: pointer;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 38px;
  height: auto;
}

.logo-text {
font-family: var(--font-playfair);
font-size: 18px;
font-weight: 600;
line-height: 1.5; 
letter-spacing: 0.2px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
  background-color: #58453b;
  padding: 10px 20px;
  border-radius: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: var(--rapture-light);
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5; 
  letter-spacing: 0.2px;
}

.craft-btn {
  background-color: var(--wooden-cabin);
  color: #FAF9F6;
  border: 1px solid var(--wooden-cabin);
  border-radius: 20px;
  padding: 10px 20px;
  font-family: var(--font-inter, sans-serif);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5; 
  letter-spacing: 0.2px;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sign-in {
  text-decoration: none;
  color: var(--wooden-cabin);
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5; 
  letter-spacing: 0.2px;
  white-space: nowrap;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; 
  padding: 60px 20px;
  overflow: hidden;
}


.hero-row {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}

.hero-text {
  font-family: var(--font-playfair);
  font-weight: 600;
  opacity: 0;
  transform: translateY(0); 
  transition: opacity 0.3s;
  line-height: 1.2; 
}

.intro-text {
  font-size: 48px;
  letter-spacing: 0.5px; 
  line-height: 1.2;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.left-text, .right-text {
  opacity: 0;
  transform: translateY(20px);
  font-size: 28px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  min-width: 150px;   
}

.left-text {
  margin-right: 40px;
  text-align: left;
}

.right-text {
  margin-left: 40px;
  text-align: right;
}

.coffee-scene {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.cup-wrapper {
  perspective: 1000px;
  width: 480px;
  margin: 80px auto 0 auto; 
  touch-action: none;
}

.coffee-cup {
  width: 100%;
  opacity: 0;
  filter: blur(4px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 0.3s, opacity 0.3s, filter 0.3s;
  will-change: transform, opacity;
  cursor: pointer;
} 

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--wooden-cabin);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 1.8s ease, visibility 1.8s ease;
}

.splash-pattern-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#splash-screen.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.splash-pattern {
  width: 160px;
  height: auto;
}

.splash-phone {
  width: 60px;
  height: auto;
  animation: swing 2s infinite ease-in-out;
  margin-bottom: 12px;
}

@keyframes swing {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(8deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-8deg); }
  100% { transform: rotate(0deg); }
}

.splash-text {
  font-size: 16px;
  font-family: sans-serif;
  color: #000;
}


 /* Секція вибору карток */
.choose-taste {
  padding: 60px 20px;
  background-color: var(--rapture-light);
  color: var(--rapture-light);
  text-align: center;
}

.choose-taste-title {
  font-family: var(--font-inter);
  color: var(--dark-veil);
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.3px;
  line-height: 1.3;
  margin-bottom: 40px;
}

.choose-taste-cards {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
  padding-bottom: 20px;
}

.choose-taste-cards::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.taste-card {
  flex: 0 0 calc((100% - 90px) / 4); 
  background-color: var(--wooden-cabin);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.taste-card:hover {
  transform: scale(1.05);
}

.choose-taste-cards {
  cursor: grab;
}

.choose-taste-cards.active {
  cursor: grabbing;
}

.taste-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.taste-card-name {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 1.3;
  text-align: left;
}

.taste-card-favorite {
  background: none;
  border: none;
  color: var(--rapture-light);
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}

.taste-card-favorite:active {
  color: var(--rapture-light); 
}

.taste-card-image img {
  width: 130px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.taste-card-sizes {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.3;
  margin-bottom: 8px;
  margin-top: 10px;
}

.taste-card-addons {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 1.3;
  margin-bottom: 20px;
  color: var(--rapture-light);
}

.taste-card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.taste-card-price {
  background-color: var(--rapture-light);
  color: var(--dark-veil);
  padding: 6px 14px;
  border-radius: 6px;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 1.3;
  margin-top: 5px;
}

.taste-card-check {
  background-color: var(--rapture-light);
  border-radius: 50%;
  width: 46px;
  height: 46px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  bottom: -30px;
  right: -30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  transition: background-color 0.3s;
}

.taste-card-check svg {
  stroke: var(--dark-veil);
}
